<form [formGroup]="currencyForm">
  <div class="control mt-4">
    <label class="pr-3 has-text-weight-bold"> Pay Method </label>
    <label class="radio has-text-weight-bold has-text-grey">
      <input type="radio" formControlName="payMethod" [value]="'instant'" />
      Instant
    </label>
    <label class="radio has-text-weight-bold has-text-grey">
      <input type="radio" formControlName="payMethod" [value]="'regular'" />
      Regular
    </label>
  </div>

  <div class="columns mt-4">
    <div class="column is-one-quarter">
      <label class="has-text-weight-bold"> Amount </label>
      <div>
        <input
          type="number"
          formControlName="inputAmount"
          (input)="inputAmount($event)"
        />
        <div
          *ngIf="currencyForm.get('inputAmount')?.errors"
          class="has-text-danger"
        >
          Min 10 , Max 20,000
        </div>
      </div>
    </div>

    <div class="column is-one-quarter">
      <label class="has-text-weight-bold"> Currency </label>
      <div>
        <div class="select">
          <select
            formControlName="currencySelect"
            (input)="currencySelect($event)"
          >
            <option></option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="cad">CAD</option>
          </select>
          <div *ngIf="currencyForm.get('select')?.errors"></div>
        </div>
      </div>
    </div>

    <div class="column is-one-quarter">
      <label class="has-text-weight-bold">Converted Amount </label>
      <div>
        <input
          type="number"
          formControlName="convertedAmount"
          [value]="convertedAmount"
        />
        <label>BDT</label>
      </div>
    </div>
  </div>

  <button
    class="button is-success is-focused has-text-weight-bold"
    (click)="showScore()"
  >
    Send
  </button>

  <section class="card mt-6 has-text-weight-bold" *ngIf="displayResult">
    <p>
      You send :
      <span class="has-text-primary-dark">{{ convertedAmount }}</span> BDT
    </p>
    <p>
      Fee is: <span class="has-text-danger-dark">{{ getTotalFee() }}</span>
      {{ currencyName }} , (<span class="has-text-danger-dark">{{
        feeInBDT
      }}</span>
      BDT)
    </p>
    <p>
      Receiver gets =
      <span class="has-text-success-dark">{{ receivedAmount }}</span> BDT
    </p>
  </section>
</form>
