<form
  class="container box mt-2 has-background-light"
  [formGroup]="transferForm"
>
  <div>
    <div>
      <label class="has-text-weight-bold"> Receiver Debit Card Number </label>
    </div>
    <input
      class
      type="text"
      formControlName="cardNumber"
      (input)="onInput($event)"
    />
    <div *ngIf="transferForm.get('cardNumber')?.errors" class="has-text-danger">
      please enter a valid card number
    </div>
    <p class="has-text-success-dark has-text-weight-bold">{{ output }}</p>
  </div>
  <div>
    <div class="mt-4">
      <div>
        <label class="has-text-weight-bold">Email</label>
      </div>
      <input class type="text" formControlName="email" />
      <div>
        <span *ngIf="emailErrors?.['email']" class="pt-2 has-text-danger">
          Please enter a valid email.
        </span>
      </div>
    </div>
  </div>
  <app-currency></app-currency>
</form>
